# Ignorar la carpeta del entorno virtual
venv/

# Ignorar archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de sistema (Mac y Windows)
.DS_Store
Thumbs.db

# Ignorar configuraciones locales de VS Code
.vscode/

# Ignorar logs y archivos temporales
*.log
